/Preprocessing/MRI/nipy1.4/crash*
/Preprocessing/MRI/nipy1.4/reports/cmrrmbep2dDTI32Chs018a001_b_images.nii.gz
/Preprocessing/MRI/nipy1.4/reports/cmrrmbep2dDTI32Chs018a001_mean_bo.nii.gz
/Preprocessing/MRI/nipy1.4/reports/_b_images.nii.gz
/Preprocessing/MRI/nipy1.4/reports/test_dwi_util.py
/Preprocessing/MRI/nipy1.4/reports/test_plot_mosaic.py
/Preprocessing/MRI/nipy1.4/qa/create_JPowers_plot.py
/Preprocessing/MRI/nipy1.4/qa/test_figure_plotting.py
/Preprocessing/MRI/nipy1.4/reports/_b_images.nii.gz
/Preprocessing/MRI/nipy1.4/reports/_mean_bo.nii.gz
/Preprocessing/MRI/nipy1.4/reports/dwi_util_standalone_test.py
/Preprocessing/MRI/nipy1.4/reports/dwi_util_standalone_test.pyc
/Preprocessing/MRI/nipy1.4/test_debug_functions/
/Preprocessing/MRI/nipy1.4/*.conf
/Preprocessing/MRI/nipy1.4/*/*.conf
.participants.txt
/Preprocessing/Behavioral/MST/presentation_script/Logfiles
.Rhistory
QAtools_v1.2
freesurfer_6_dev
